<!DOCTYPE html>
<html>
<head>
    <title>Panel Empleado</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<nav class="navbar navbar-dark bg-dark px-4">
    <span class="navbar-brand">Panel Empleado</span>
    <a href="/salir" class="btn btn-outline-light btn-sm">Cerrar Sesión</a>
</nav>

<div class="container mt-5">

    {% if empleado %}

    <div class="card shadow p-4">
        <h3 class="text-center mb-4" style="color: #eec0cf; font-weight: 600;">
     Bienvenido 🎴 , {{ empleado[2] }} {{ empleado[3] }}
</h3>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Documento</th>
                    <td>{{ empleado[1] }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ empleado[2] }} {{ empleado[3] }}</td>
                </tr>
                <tr>
                    <th>Cargo</th>
                    <td>{{ empleado[4] }}</td>
                </tr>
                <tr>
                    <th>Departamento</th>
                    <td>{{ empleado[12] }}</td>
                </tr>
                <tr>
                    <th>Salario Base</th>
                    <td>${{ "%.2f"|format(empleado[5]) }}</td>
                </tr>
                <tr>
                    <th>Horas Extras</th>
                    <td>{{ empleado[6] }}</td>
                </tr>
                <tr>
                    <th>Bonificación</th>
                    <td>${{ "%.2f"|format(empleado[7]) }}</td>
                </tr>
                <tr>
                    <th>Descuento Salud (4%)</th>
                    <td>${{ "%.2f"|format(empleado[8]) }}</td>
                </tr>
                <tr>
                    <th>Descuento Pensión (4%)</th>
                    <td>${{ "%.2f"|format(empleado[9]) }}</td>
                </tr>
                <tr class="table-success">
                    <th>Salario Neto</th>
                    <td><strong>${{ "%.2f"|format(empleado[10]) }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>

    {% else %}
    <div class="alert alert-warning text-center">
        No se encontraron datos asociados a tu usuario.
        <br>Contacta al administrador.
    </div>
    {% endif %}

</div>

</body>
</html>